spring:
  profiles:
    active: prod

cloud:
  aws:
    s3:
      bucket: cream-image
    region:
      static: ap-northeast-2
    stack:
      auto: false
    credentials:
      instanceProfile: true

